 <!-- header.html (gen.min-huang.com project) -->
 {% load staticfiles %}
<div id="banner">
<a href="/future/" id="FIlogoA" class="inBanner"><img id="FIlogoImg" src='{% static "image/1.jpg" %}'></a>
<div id="aboutFI" class="inBanner">
<p>以政府公開資訊為素材，利用資料科學的方法來預測一個地點的景象樣貌，
如果您要去的地方和我們預測地點接近，那麼我們的影像將極具參考價值，可利用在攝影的事前準備和旅遊規劃上。</p>
</div>
<a href="https://www.facebook.com/MixtureQ" target="_blank" id="FBlogoA" class="inBanner"><img id="FBlogoImg" src='{% static "image/fb_icon.png" %}' alt="粉絲"></a>
</div>