<!doctype html>
<html>
<head>
    <title>test region</title>
	<meta charset='utf-8'>
</head>
<body>
    <div>
    <h2>{{region}}</h2>
	{%for r in rr%}
		    <a href="/index/{{r.id}}">{{r}}</a>			
	{%endfor%}
	</div>
	
	{% if region.city_set.all %}
    <table>
	    <tr>
		    <th>REGION</th>
			<th>EN</th>
			<th>ID</th>
		</tr>
    {%for c in region.city_set.all%}
	    <tr>
		    <td>{{c.chinese_name}}</td>
			<td>{{c.english_name}}</td>
			<td>{{c.cityid}}</td>
		</tr>
	{%endfor%}
    </table>
	{% else %}
	    <p>constructing</p>
	{% endif %}
</body>
</html>